/* About Me section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-image {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.section_title {
  margin-bottom: 0.25em;
}

.section_subtitle {
  margin: 0;
  font-size: 1.5rem;
}

.section_subtitle-about {
  background: #9ba4b4;
  padding: 0.25em 1em;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section_title-about {
    grid-area: title;
  }

  .section_subtitle-about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-image {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
